@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;

}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}

input[type=text] {
  
  border: 1px solid rgba(0, 0, 0, 0.13) !important;
}
input[type=text]:focus {
  
  box-shadow: none !important;
}
.switch label input[type=checkbox]:checked+.lever{
  background-color: rgb(167, 164, 164);
}
.switch label input[type=checkbox]:checked+.lever:after{
  background-color: rgb(251, 251, 251);
}
.switch label input[type=checkbox]:checked+.lever::before{
  background-color: rgb(251, 251, 251);
}
.switch label input[type=checkbox]+.lever:before{
  background-color: rgb(0, 0, 0);
}
.switch label input[type=checkbox]+.lever::after{
  background-color: rgb(0, 0, 0);
}